:root, [data-bs-theme=light] {
  --bs-primary: #008789;
  --bs-primary-rgb: 0,135,137;
  --bs-primary-text-emphasis: #003637;
  --bs-primary-bg-subtle: #CCE7E7;
  --bs-primary-border-subtle: #99CFD0;
  --bs-success: #7000ff;
  --bs-success-rgb: 112,0,255;
  --bs-success-text-emphasis: #2D0066;
  --bs-success-bg-subtle: #E2CCFF;
  --bs-success-border-subtle: #C699FF;
  --bs-dark: #172532;
  --bs-dark-rgb: 23,37,50;
  --bs-dark-text-emphasis: #090F14;
  --bs-dark-bg-subtle: #D1D3D6;
  --bs-dark-border-subtle: #A2A8AD;
  --bs-body-bg: #ffffff;
  --bs-body-bg-rgb: 255,255,255;
  --bs-body-font-family: Kanit, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 100;
  --bs-body-line-height: 1.5;
  --bs-link-color: #008789;
  --bs-link-color-rgb: 0,135,137;
  --bs-link-hover-color: #005152;
  --bs-link-hover-color-rgb: 0,81,82;
  --bs-link-decoration: underline;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #008789;
  --bs-btn-border-color: #008789;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #26999B;
  --bs-btn-hover-border-color: #199395;
  --bs-btn-focus-shadow-rgb: 0,20,21;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #339FA1;
  --bs-btn-active-border-color: #199395;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #008789;
  --bs-btn-disabled-border-color: #008789;
}

.btn-outline-primary {
  --bs-btn-color: #008789;
  --bs-btn-border-color: #008789;
  --bs-btn-focus-shadow-rgb: 0,135,137;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #008789;
  --bs-btn-hover-border-color: #008789;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #008789;
  --bs-btn-active-border-color: #008789;
  --bs-btn-disabled-color: #008789;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #008789;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7000ff;
  --bs-btn-border-color: #7000ff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #5F00D9;
  --bs-btn-hover-border-color: #5A00CC;
  --bs-btn-focus-shadow-rgb: 234,217,255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #5A00CC;
  --bs-btn-active-border-color: #5400BF;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7000ff;
  --bs-btn-disabled-border-color: #7000ff;
}

.btn-outline-success {
  --bs-btn-color: #7000ff;
  --bs-btn-border-color: #7000ff;
  --bs-btn-focus-shadow-rgb: 112,0,255;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7000ff;
  --bs-btn-hover-border-color: #7000ff;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7000ff;
  --bs-btn-active-border-color: #7000ff;
  --bs-btn-disabled-color: #7000ff;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #7000ff;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #172532;
  --bs-btn-border-color: #172532;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #141F2B;
  --bs-btn-hover-border-color: #121E28;
  --bs-btn-focus-shadow-rgb: 220,222,224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #121E28;
  --bs-btn-active-border-color: #111C26;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #172532;
  --bs-btn-disabled-border-color: #172532;
}

.btn-outline-dark {
  --bs-btn-color: #172532;
  --bs-btn-border-color: #172532;
  --bs-btn-focus-shadow-rgb: 23,37,50;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #172532;
  --bs-btn-hover-border-color: #172532;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #172532;
  --bs-btn-active-border-color: #172532;
  --bs-btn-disabled-color: #172532;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #172532;
}

